<script src="http://192.168.0.102:3000/assets/js/jquery-3.3.1.slim.min.js"></script>
<script src="http://192.168.0.102:3000/assets/js/popper.min.js"></script>
<script src="http://192.168.0.102:3000/assets/js/bootstrap.min.js"></script>
<script src="http://192.168.0.102:3000/assets/js/bundle.js"></script>
</body>
</html>
